<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" content="width=device-width,initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <title>To-do List</title>
  <style>
    * {
      font-family: IBMPlexSans;
    }

    .title {
      display: block;
      margin: 5% 0 0 0;
      font-family: IBMPlexSans;
      font-size: 96px;
      font-weight: bold;
      text-align: center;
      color: rgb(0, 142, 250);
    }

    .subtitle {
      display: block;
      margin: 0 0 0 0;
      font-family: IBMPlexSerif;
      font-size: 43px;
      font-weight: 500;
      text-align: center;
      color: #797979;
    }

    .ListRect {
      width: 1065px;
      height: 100vw;
      margin: 5% auto 0 auto;
      border-radius: 28px 28px 0px 0px;
      background-color: rgba(217, 217, 217, 0.5);
    }

    .div1 {
      width: auto;
      height: 100vh;
      background-color: white;
    }

    .button {
      font-family: IBMPlexMono;
      font-size: 60px;
      font-weight: 500;
      color: #000000;
      text-decoration: none;
      border: none;
    }

    #plus {
      margin: 0 20px 0 88%;
      color: #373737;
    }

    #minus {
      margin: 0 1% 0 0;
      color: #373737;
    }

    .lists {
      margin-top: 5%;
      margin-left: 8%;
      display: flex;
    }

    input[type=checkbox] {
      display: none;
    }

    input[type=checkbox] + label{
      width: 50px;
      height: 50px;
      border-radius: 12px;
      border: solid 6px rgb(0, 142, 250);
      display: inline-block;
    }

    input[type=checkbox]:checked + label  {
      background-color: rgb(0, 142, 250);
    }

    .content {
      margin-top: 8px;
      margin-left: 20px;
      width: 727px;
      font-family: IBMPlexSans;
      font-size: 40px;
      font-weight: 600;
      color: #373737;
      display: inline;
      vertical-align: middle;
    }

    .edit {
      width: 40px;
      height: 40px;
    }

    #input_modal {
      display: none;
      position: fixed;
      z-index: 1;
      top: 20%;
      left: 30%;
      background-color: rgba(255, 255, 255);
      border: gray 5px solid;
      border-radius: 30px;
      margin: 15% auto;
      padding: 20px;
      width: 40%;
      height: 30%;
    }

    .add_list_title {
      display: flex;
      margin-top: 8%;
      justify-content: center;
      font-family: IBMPlexSerif;
      font-weight: bold;
      font-size: 25px;
      text-align: center;
      color: gray;
    }

    .todo_inputs {
      display: flex;
      justify-content: center;
      margin-top: 2%;
    }

    #input_content {
      width: 60%;
      height: 30%;
      padding: 15px;
      font-size: 20px;
      background-color: transparent;
      border-top: none;
      border-left: none;
      border-right: none;
      border: 3px dashed rgb(0, 142, 250);
      border-radius: 10px;
      margin-right: 30px;
    }

    #input_close,
    #input_submit {
      color: gray;
      background-color: transparent;
      font-size: 25px;
      font-weight: bold;
      margin: 5px;
      border: none;
    }

    #input_close:hover,
    #input_close:focus,
    #input_submit:hover,
    #input_submit:focus {
      color: rgb(0, 142, 250);
      text-decoration: none;
      cursor: pointer;
    }
  </style>

</head>

<body>
  <div class="title_bar">
    <span class="title">To-Do List</span>
    <span class="subtitle">Make your life Effective</span>
  </div>
  <div>
    <div class="ListRect">
      <div>
        <br>
        <a class="button" id="plus" onclick="openModal()">+</a>
        <a class="button" id="minus">-</a>
      </div>
      <div id="input_modal">
        <span class="add_list_title">Add New List!</span>
        <form method="post" action="/create">
          <p class="todo_inputs">
            <input type="text" id="input_content" name="content">
          </p>
          <p style="text-align: center;">
            <input id="input_submit" type="submit" value="add">
            <input id="input_close" type="reset" value="cancle" onclick="closeModal()">
          </p>
        </form>
      </div>
      <% for(var i=0; i < rows.length; i++) { %>
        <ul class="lists">
          <input type="checkbox" value="<%= rows[i].DONE %>" class="done_check" name="done_check<%= i %>" id="done_check<%= i %>">
          <label for="done_check<%= i %>"></label>
            <div class="content">
              <%= rows[i].CONTENT %>
            </div>
            <img class="edit" src="images/pencil.png" alt="edit button">
        </ul>
        <% } %>
    </div>
  </div>
</body>
<script>
  $(document).ready(function () {
    var doneCheck = $("input[type=checkbox]");
    for (var i = 0; i < doneCheck.length; i++) {
      if (doneCheck[i].value === "1") {
        doneCheck[i].checked = true;
      }
      else {
        doneCheck[i].checked = false;
      }
    }
  });
  
  const modal = document.getElementById("input_modal");
  const openModalBtn = document.getElementById("plus");
  const closeModalBtn = document.getElementById("input_close");
  
  function openModal() {
    modal.style.display = "block";
  }
  function closeModal() {
    modal.style.display = "none";
  }

  const doneCheckboxs = $("input[type=checkbox]");
  for(var i = 0; i < doneCheckboxs.length; i++){
    doneCheckboxs[i].addEventListener("change", e =>{  
      console.log(e.target.id);
    });
  }
</script>

</html>